.weekend2022 {
	background: #673ab7 url("./wonka_bg.jpeg");
	background-size: cover;
	padding: 15px;
	overflow-x: hidden;
}

.golden-ticket {
	height: fit-content;
}

.week-desc-2022 {
	color: whitesmoke;
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
	.week-desc-2022 {
		transform: translateY(-20px);
	}
}
@media screen and (max-width: 700px) {
	.week-desc-2022 {
		transform: translateY(-50px);
	}
}
@media screen and (max-width: 600px) {
	.week-desc-2022 {
		transform: translateY(-80px);
	}
}
@media screen and (max-width: 500px) {
	.week-desc-2022 {
		transform: translateY(-100px);
	}
}
