.panels {
    padding: 4rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.panel-wrapper h2 {
    text-align: center;
}

.panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 15px;
    padding: 10px;
    background-color: #113555;
    color: black;
    max-width: 27rem;
}

.panel .speaker {
    max-width: 90vw;
    background-color: #005f7f; /* #008a94; #f0faff;*/
    border-radius: 15px;
    padding: 12px 12px;
    color: whitesmoke;
    transition: background-color 0.5s ease;
}

.panel .speaker .main {
    transition-duration: 1s;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
}

/*.speaker:hover {
    background-color: #eafeff;
    cursor: pointer;
}*/

.panel .speaker .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    gap: 20px;
}

@media (max-width: 450px) {
    .panel .speaker .body {
        font-size: 1.3rem;
        gap: 0;
    }
}

.panel .speaker .speaker-thumb {
    width: 5em;
}

.panel .speaker .header,
.footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-left: 3px;
}

.panel .speaker .header {
    font-size: 0.7rem;
}

.panel .speaker .footer {
    margin-top: 5px;
    font-size: 0.9rem;
    flex-wrap: wrap;
}

.panel .speaker .footer .chip {
    display: inline-block;
    border-radius: 20px;
    padding: 2px 10px;
    width: fit-content;
    height: fit-content;
    font-size: 0.8rem;
    white-space: nowrap;
}

.panel .speaker .footer .chip.businessSphere {
    background-color: #008a94;
}

.panel .speaker .footer .chip.company {
    background-color: #00b590;
}

.panel .speaker .fa-linkedin-square,
.fa-facebook-square {
    color: white;
    font-size: 1.6em;
}

.panel .speaker .fa-linkedin-square:hover,
.fa-facebook-square:hover {
    color: lightgray;
    cursor: pointer;
}

.panel .speaker .bio {
    margin-top: 15px;
}
