.conf2021 {
    background-color: #000e17; /*#000f1b;*/
    color: white;
}

.conf2021 .poster {
    width: 100%;
    margin-bottom: 3rem;
}

.presents {
    margin-top: 7rem;
    text-align: center;
    font-size: 2vw;
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.glimpse {
    opacity: 0;
    text-align: center;
    font-size: 6vw;
    animation: fadeIn 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@font-face {
    font-family: "Alexana Neue", "Montserrat";
    src: URL("../media/AlexanaNeue.ttf");
}

.future {
    opacity: 0;
    font-family: "Alexana Neue";
    text-align: center;
    font-size: 11vw;
    animation: fadeIn 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Parallax */

.parallax-wrapper {
    background-color: #000e17;
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
}

.parallax .titles {
    position: absolute;
    top: 0;
    z-index: 100;
}

.cover {
    position: fixed;
    background-color: #000e17;
    width: 100%;
    height: 100vh;
    top: 100vw;
}
