.conf2021 {
    background-color: #000e17; /*#000f1b;*/
    color: white;
}

.conf2021 .poster {
    width: 100%;
    margin-bottom: 3rem;
}

.spinner {
    margin: 0 auto;
    animation-fill-mode: none;
    animation-delay: 3s;
}

.lds-dual-ring {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 80px;
    height: 80px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
