.titlesWrapper {
    position: absolute;
    top: 0;
    z-index: 100;
    left: 50%;
    transform: translate(-50%);
}

.titles {
    margin-top: 7rem;
    white-space: nowrap;
    max-width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    padding: 15px;
    border-radius: 15px;
    --baseFontSize: 2vw;
}

@media (max-width: 500px) {
    .titles {
        --baseFontSize: 7vw;
    }
}

.presents {
    text-align: center;
    font-size: var(--baseFontSize) + 1vw;
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.glimpse {
    opacity: 0;
    text-align: center;
    font-size: calc(var(--baseFontSize) + 4vw);
    animation: fadeIn 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

/*@font-face {
    font-family: "Alexana Neue";
    src: URL("../media/AlexanaNeue.ttf") format("truetype");
}*/

@font-face {
    font-family: "Alexana Neue";
    src: url("../media/font/subset-AlexanaNeue.woff2") format("woff2"),
        url("../media/font/subset-AlexanaNeue.woff") format("woff"),
        url("../media/font/subset-AlexanaNeue.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.future {
    opacity: 0;
    font-family: "Alexana Neue", "Montserrat", sans-serif;
    text-align: center;
    font-size: calc(var(--baseFontSize) + 9vw);
    animation: fadeIn 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    line-height: 1em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.scrollDown {
    text-align: center;
    margin-top: 1em;

    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

.confButton {
    background-color: #005f7f;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    margin: 1em auto;

    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

.confButton:hover {
    background-color: #049aa5;
    cursor: pointer;
}
