.titles {
    position: absolute;
    top: 0;
    z-index: 100;
}

.presents {
    margin-top: 7rem;
    text-align: center;
    font-size: 2vw;
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.glimpse {
    opacity: 0;
    text-align: center;
    font-size: 6vw;
    animation: fadeIn 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

/*@font-face {
    font-family: "Alexana Neue";
    src: URL("../media/AlexanaNeue.ttf") format("truetype");
}*/

@font-face {
    font-family: "Alexana Neue";
    src: url("../media/font/subset-AlexanaNeue.woff2") format("woff2"),
        url("../media/font/subset-AlexanaNeue.woff") format("woff"),
        url("../media/font/subset-AlexanaNeue.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.future {
    opacity: 0;
    font-family: "Alexana Neue", "Montserrat", sans-serif;
    text-align: center;
    font-size: 11vw;
    animation: fadeIn 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
