.conf-speakers {
  background-color: #222;
  color: white;
}

.speaker-img {
  height: 5em;
  width: 5em;
  border-radius: 50%;
}

.flick-carousel {
  height: 40em;
  width: 100%;
  max-width: 100vw;

  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
  
.cell-wrapper {
  margin-top: 3em;
  width: 15em;
  height: 15em;

  opacity: 0.5;

  border: double 7px transparent;
    border-radius: 50%;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #fbbb06 0%, #ec7510 20%, #e45315 30%, #ce1c63 40%, #aa1638 50%,#731c64 60%, #a54093 70%, #2f6093 80%, #579ccb 90%, #2cb3ab 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);

  -webkit-transform: scale(0.5) translateY(-150%);
      -ms-transform: scale(0.5) translateY(-150%);
          transform: scale(0.5) translateY(-150%);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

@media (min-width: 880px) {
  .cell-wrapper {
    margin-top: 6em;
  }
}

.flick-carousel-cell {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
  
.speaker-name, .speaker-tagline {
  opacity: 0;
  text-align: center;
  transition: opacity 0.6s;
}

.is-selected {
  opacity: 1;
  transform: translateY(35%);
}

.is-selected .speaker-name {
  opacity: 1;
  margin-top: 1em;
  font-size: 2em;
}

.is-selected .speaker-tagline {
  opacity: 1;
}

.flickity-page-dots {
	bottom: 20px !important;
}

.flickity-page-dots .dot{
	background: white !important;
}
