.conf-masthead {
    height: 100vh;
    background-image: url("../images/daynight.jpg");
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* doesn't work on ios */
    filter: blur(2px);
}

@media not all and (min-resolution:.001dpcm) { 
    .conf-masthead {
        background-attachment: scroll;
    }
  }

.conf-title-wrapper {
    top: 0;
    position: absolute;
    z-index: 2;
    text-align: center;
    width: 100%;
}

.conf-masthead-title {
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px #0066ff;
}

.conf-masthead-title2 {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 3px 3px 2px #0066ff;
}

@media (min-width: 460px) {
    .conf-masthead-title {
        font-size: 2rem;
    }
}

@media (min-width: 991px) {
    .conf-masthead-title2 {
        font-size: 4em;
    }
}

@media (min-width: 1200px){
    .conf-masthead-title {
        font-size: 3rem;
    }
    .conf-masthead-title2 {
        font-size: 5em;
    }
}

.reg-button {
    font-size: 1.5em !important;
    border-radius: 30px !important;
    margin:0.5em;
}