.speaker-img {
    height: 5em;
    width: 5em;
    border-radius: 50%;
}

.flick-carousel {
    background: #fafafa;
    height: 30em;
    width: 60em;
    max-width: 100vw;
  }
  
  .flick-carousel-cell {
    margin-top: 5em;
    width: 15em;
    height: 15em;
    margin-right: 0.5em;
    
    border-radius: 50%;
    counter-increment: carousel-cell;
    opacity: 0.5;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    backface-visibility: hidden;
  
    -webkit-transform: scale(0.5) translateY(-150%);
        -ms-transform: scale(0.5) translateY(-150%);
            transform: scale(0.5) translateY(-150%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;

    
  }
  
  .name {
    display: none;
  }
  
  .is-selected {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  
  .is-selected .name {
    display: block;
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
  }