.events {
    overflow-x: hidden;
}

.events-title {
    margin-top: 1em;
    margin-bottom: 1em;
    
    color:white;
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -1.8em;
}

.events-title span{
    border-bottom: 4px solid;
    border-width: 0px 0px 4px 0px; 
    border-image: linear-gradient(to right, #fbbb06 5%, #ec7510 12.5%, #e45315 25%, #ce1c63 25%, #ce1c63 35%, #aa1638 50%, #731c64 50%, #a54093 66%, #a54093 75%, #2f6093 75%, #579ccb 87.5%, #2cb3ab 95%) 1;
}

.events-body {
    margin-top: 1em;
    font-size: 1.3em;
}

.events section {
    position: relative;
    width: 100%;
    height: 30em;
}

.events .bg-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.events .bg {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transform: translateZ(0);
    will-change: transform;
}
