.masthead {
    height: 100vh;
    background-image: url("../../images/crowd.jpg");
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    color:white;
    background-attachment: fixed; /* doesn't work on ios */
}

.arrow {
    margin-top: 2em;
    height: 2em;
    fill:white;
}

.arrow:hover {
    fill: #2cb3ab;
}

/* Safari 10.0+ */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
    .masthead {
        background-attachment: scroll;
    }
}}

/* revert to normal background on ios */
@supports (-webkit-touch-callout: none) {
    .masthead {
        background-attachment: scroll;
    }
}

.masthead-title {
    font-weight: 600;
    font-size: 8vw;
    text-shadow: 0.06em 0.06em white;
}

@media only screen and (max-width: 1000px) {
    .masthead-title{
        font-size: 11vw;
    }
}

@media only screen and (max-width: 500px) {
    .masthead-title{
        font-size: 13vw;
    }

    .masthead{
        background-position: center;
    }
}
