.masthead {
    height: 100vh;
    background-image: url("../../images/speaker.jpg");
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    color:white;
    background-attachment: fixed; /* doesn't work on ios */
}

/* revert to normal background on ios */
@supports (-webkit-touch-callout: none) {
    .masthead {
        background-attachment: initial;
    }
}

.masthead-title {
    font-weight: bold;
    font-size: 8vw;
}

@media only screen and (max-width: 1000px) {
    .masthead-title{
        font-size: 11vw;
    }
}

@media only screen and (max-width: 500px) {
    .masthead-title{
        font-size: 13vw;
    }

    /*. needed in case image seems off on mobile
    masthead{
        background-position: right;
    }*/
}
