.speakers {
    /*background-color: #F3F3F3; */
    overflow-x: hidden; /* hides the overflow on mobile caused by the rotation for some reason */
}

.speakers-title {
    margin-bottom: 1.5em;
}

.speakers-title span{
    border-bottom: 4px solid;
    border-width: 0px 0px 4px 0px; 
    border-image: linear-gradient(to right, #fbbb06 5%, #ec7510 12.5%, #e45315 25%, #ce1c63 25%, #ce1c63 35%, #aa1638 50%, #731c64 50%, #a54093 66%, #a54093 75%, #2f6093 75%, #579ccb 87.5%, #2cb3ab 95%) 1;
}

.speaker-card .card-body {
    text-align: center;
    height: 7em;
    padding-left: 0;
    padding-right: 0;
}

.speaker-card .card-title {
    font-size: 1.6em;
}

@media (max-width: 576px) { 
    .speaker-card .card-title {
        font-size: 1.2em;
    }
    .speaker-card .card-text {
        font-size: 0.9em;
    }
}

.speaker-border {
    border: double 7px transparent;
    border-radius: 50%;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #fbbb06 0%, #ec7510 20%, #e45315 30%, #ce1c63 40%, #aa1638 50%,#731c64 60%, #a54093 70%, #2f6093 80%, #579ccb 90%, #2cb3ab 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;

    -webkit-animation: spin infinite 6s linear;
    -moz-animation: spin infinite 6s linear;
    -o-animation: spin infinite 6s linear;
    animation: spin infinite 6s linear;
    transition: border-width 0.09s ease-in;
}

.speaker-border .card-img-top {
    border-radius: 50%;
    -webkit-animation: anti-spin infinite 6s linear;
    -moz-animation: anti-spin infinite 6s linear;
    -o-animation: anti-spin infinite 6s linear;
    animation: anti-spin infinite 6s linear;
}

.speaker-border:hover{
    cursor: pointer;
    border-width: 15px;
}

.card-top-wrapper:hover .arrow-overlay{
    color: #2f6093;
}

.arrow-overlay {
    height: 3em;
    width: 3em;
    background-color: white;
    border-radius: 50%;

    position: absolute;
    z-index: 2;
    margin-top: 70%;
    margin-left: 58%;
}

.arrow-overlay:hover ~ .speaker-border{
    border-width: 15px;
}

.arrow-overlay:hover {
    cursor: pointer;
    color: #2f6093;
}

.fa-arrow-right {
    margin-top: 29%;
    margin-left: 34%;
    font-size: 1.2em;
}

@media (max-width: 576px) { 
  .arrow-overlay {
      height: 2.6em;
      width: 2.6em;

      margin-top: 67%;
      margin-left: 60%;
  }
  .fa-arrow-right {
      font-size: 1.1em;
  }
}

@media (max-width: 420px) { 
    .arrow-overlay {
        height: 2em;
        width: 2em;

        margin-top: 65%;
        margin-left: 57%;
    }
    .fa-arrow-right {
        font-size: 0.9em;
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
 
@keyframes anti-spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
}

.modal .fa-linkedin-square {
  color: grey;
  font-size: 2.3em;
}

.modal .fa-linkedin-square:hover {
  color: #0077B5;
  cursor: pointer;
}

.speaker-bio span{
    font-size: 1.5em;
    border-bottom: 4px solid;
    border-width: 0px 0px 4px 0px; 
    border-image: linear-gradient(to right, #fbbb06 5%, #ec7510 12.5%, #e45315 25%, #ce1c63 25%, #ce1c63 35%, #aa1638 50%, #731c64 50%, #a54093 66%, #a54093 75%, #2f6093 75%, #579ccb 87.5%, #2cb3ab 95%) 1;
}

.modal-header {
  border-bottom: none !important;
  padding: 0.5rem 0.5rem 0 0 !important;
}

.modal-header .close {
  padding-right: 1.7rem !important;
  padding-top: 1.5rem !important;
}

.modal-img {
    border-radius: 50%;
    width: 15em;
    float:left;
    margin: 0 1em 1em 1em;

    border: double 7px transparent;
    border-radius: 50%;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #fbbb06 0%, #ec7510 20%, #e45315 30%, #ce1c63 40%, #aa1638 50%,#731c64 60%, #a54093 70%, #2f6093 80%, #579ccb 90%, #2cb3ab 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

/* Loading Animation */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #d1d1d1;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
