.speakers {
    background-color: #d6d3d3;
    overflow-x: hidden; /* hides the overflow on mobile caused by the rotation for some reason */
}

.speakers-title {
    margin-bottom: 1.5em;
}

.speakers-title span{
    border-bottom: 4px solid;
    border-width: 0px 0px 4px 0px; 
    border-image: linear-gradient(to right, #fbbb06 5%, #ec7510 12.5%, #e45315 25%, #ce1c63 25%, #ce1c63 35%, #aa1638 50%, #731c64 50%, #a54093 66%, #a54093 75%, #2f6093 75%, #579ccb 87.5%, #2cb3ab 95%) 1;
}

.speaker-card .card-body {
    text-align: center;
    height: 7em;
}

.speaker-card .card-title {
    font-size: 1.6em;
}

@media (max-width: 576px) { 
    .speaker-card .card-title {
        font-size: 2em;
    }
    .speaker-card .card-text {
        font-size: 1em;
    }
}

.speaker-border {
    border: double 7px transparent;
    border-radius: 50%;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #fbbb06 0%, #ec7510 20%, #e45315 30%, #ce1c63 40%, #aa1638 50%,#731c64 60%, #a54093 70%, #2f6093 80%, #579ccb 90%, #2cb3ab 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;

    animation: spin infinite 7s linear;
    transition: border-width 0.1s linear;
}

.speaker-border:hover{
    cursor: pointer;
    border-width: 15px;
}

.card-top-wrapper:hover .arrow-overlay{
    color: #2f6093;
}

.arrow-overlay {
    height: 3em;
    width: 3em;
    background-color: white;
    border-radius: 50%;

    position: absolute;
    z-index: 2;
    margin-top: 70%;
    margin-left: 58%;
}

.arrow-overlay:hover ~ .speaker-border{
    border-width: 15px;
}

.arrow-overlay:hover {
    cursor: pointer;
    color: #2f6093;
}

.fa-arrow-right {
    margin-top: 29%;
    margin-left: 34%;
    font-size: 1.2em;
}

@media (max-width: 576px) { 
    .arrow-overlay {
        height: 4em;
        width: 4em;

        margin-top: 71%;
        margin-left: 61%;
    }
    .fa-arrow-right {
        font-size: 1.6em;
        margin-top: 29%;
        margin-left: 35%;
    }
}

.speaker-border .card-img-top {
    border-radius: 50%;
    animation: anti-spin infinite 7s linear;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
 
@keyframes anti-spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
}

.modal-title span{
    border-bottom: 4px solid;
    border-width: 0px 0px 4px 0px; 
    border-image: linear-gradient(to right, #fbbb06 5%, #ec7510 12.5%, #e45315 25%, #ce1c63 25%, #ce1c63 35%, #aa1638 50%, #731c64 50%, #a54093 66%, #a54093 75%, #2f6093 75%, #579ccb 87.5%, #2cb3ab 95%) 1;
}

.modal-img {
    border-radius: 50%;
    width: 15em;
    float:left;
    margin: 0 1em 1em 1em;
}

.modal-body{
    margin: 1em;
}