.sponsors {
    background-color: #F3F3F3;
    overflow-x: hidden;
}

.sponsor-col {
    border: 1px solid #e0e0e0;
}

.sponsors-title {
    margin-bottom: 1em;
}

.sponsors-title span{
    border-bottom: 4px solid;
    border-width: 0px 0px 4px 0px; 
    border-image: linear-gradient(to right, #fbbb06 5%, #ec7510 12.5%, #e45315 25%, #ce1c63 25%, #ce1c63 35%, #aa1638 50%, #731c64 50%, #a54093 66%, #a54093 75%, #2f6093 75%, #579ccb 87.5%, #2cb3ab 95%) 1;
}

.sponsor-img {
    max-height: 5em;
    max-width: 100%;
}

.sponsor-img-collapsed {
    max-height: 5em;
    max-width: 100%;
}

@media (max-width: 576px) { 
    .sponsor-img-collapsed {
        max-height: 5em;
        max-width: 100%;
    }
}

@media (min-width: 576px) { 
    .show-less {
        display: none;
    }
}

.sutherland {
    padding-top: 1em;
}

.nordics {
    padding-top: 1em;
}
