.team .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.team-title {
    margin-bottom: 1em;
    margin-left: 15px;
}

.team-title span{
    border-bottom: 4px solid;
    border-width: 0px 0px 4px 0px; 
    border-image: linear-gradient(to right, #fbbb06 5%, #ec7510 12.5%, #e45315 25%, #ce1c63 25%, #ce1c63 35%, #aa1638 50%, #731c64 50%, #a54093 66%, #a54093 75%, #2f6093 75%, #579ccb 87.5%, #2cb3ab 95%) 1;
}

.team .carousel .carousel-control-prev, 
.team .carousel .carousel-control-next{
    width: 10% !important;
}

/* Hide controls when carousel shows all members */
.team .hide-carousel .carousel-control-prev, 
.team .hide-carousel .carousel-control-next{
    display: none;
}

.team .carousel .carousel-control-prev-icon {
    margin-bottom: 2em;
    margin-right: 25%;
}

.team .carousel .carousel-control-next-icon {
    margin-bottom: 2em;
    margin-left: 25%;
}


.fa-linkedin-square {
    color: grey;
    font-size: 2.3em;
    margin: 0.5em;
    margin-bottom: 1.2em;
}

.fa-linkedin-square:hover {
    color: lightgray;
    cursor: pointer;
}

.bot-row {
    background-color: #F3F3F3;
    /*border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;*/ 
}

.team-img {
    height: 13em;
    padding-left: 5%;
    padding-top: 0.65em;
    filter: drop-shadow(2px -2px 3px #222) brightness(1.1); 
    margin-right: 10%;
}

@media (min-width: 768px) { 
    .team-img {
        padding-left: 10%;
    }
}

.member-desc {
    
    padding-top:1em;
}

.member-name {
    text-transform:uppercase;
    font-size: 1.2em;
    font-weight: 500;
}

.line {
    border-bottom: 2px solid;
    width: 3em;
    margin: 0 auto;
    padding-top: 1em;
}

.team .container .carousel .carousel-indicators li {
    background-color: #999;
}

.team .container .carousel .carousel-indicators .active {
    background-color: #444;
}

/* Hide indicators when carousel shows all members */
.team .container .hide-carousel .carousel-indicators li {
    display: none;
}