.testimonials {
    /*border-bottom: 2px solid grey;*/
    background-color: #d6d3d3;
}

.testimonials-title {
    padding-top: 1em;
}

.testimonials-title span{
    border-bottom: 4px solid;
    border-width: 0px 0px 4px 0px; 
    border-image: linear-gradient(to right, #fbbb06 5%, #ec7510 12.5%, #e45315 25%, #ce1c63 25%, #ce1c63 35%, #aa1638 50%, #731c64 50%, #a54093 66%, #a54093 75%, #2f6093 75%, #579ccb 87.5%, #2cb3ab 95%);
    border-image-slice: 1;
}

.testimonials-body {
    margin-top: 1em;
    text-indent:40px;
    font-size: 1.3em;
}

.testimonials-pic {
    max-width: 100%;
    width: 20em;
    height: auto;

    margin: 1rem auto;    
    display: block;

    border: double 7px transparent;
    border-radius: 50%;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #fbbb06 0%, #ec7510 20%, #e45315 30%, #ce1c63 40%, #aa1638 50%,#731c64 60%, #a54093 70%, #2f6093 80%, #579ccb 90%, #2cb3ab 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

/*
.carousel-control-next-icon {
    height: 4rem;
    width: 4rem;
  
    background-image: url('../../assets/logo.png');
}

.carousel-control-prev-icon {
    height: 4rem;
    width: 4rem;
  
    background-image: url('../../assets/logo.png');
    transform: scaleX(-1);
}*/