.it-form{
    min-height: 100vh;
    
    background: rgb(114,201,74);
    background: linear-gradient(180deg, rgba(100,186,60,1) 0%, rgba(78,164,39,1) 40%, rgba(51,131,14,1) 100%);
    color: white;
}