.title {
    font-size: 1.5rem;
}

@media (min-width: 700px) {
    .title {
        font-size: 3rem;
    }
}

.vid-wrapper{
    max-width: 100%;
    height: 30vh;
    margin: 0 auto;
    border: 3px solid white;
}

@media (min-width: 500px) {
 .vid-wrapper {
    height: 35vh;
    width: 30em;
 }
}

.desc-text {
    font-size: 1.1rem;
}

.form-col {
    margin-top: 2em;
}

@media (min-width: 1200px){
    .form-col {
        margin-top: 0;
    }
}

