.it-form{
    min-height: 100vh;
    
    background: rgb(79,255,100);
    background: linear-gradient(180deg, rgb(39, 236, 62) 28%, rgba(52,214,71,1) 67%, rgba(46,204,64,1) 100%);
    
    color: white;
}