.speakers-form{
    min-height: 100vh;
    
    background: rgb(255,74,74);
    background: linear-gradient(180deg, rgba(254,81,81,1) 28%, rgba(254,46,46,1) 79%, rgba(255,31,37,1) 100%);


    color: white;
}


.hs-form-4a91c225-c380-4902-87b4-0e9341b72839_184da295-1859-4fce-9bab-be1c0fe8f20a .hs-form-field {
    color: white !important;
}